Repository flepied/second-brain-agent: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, poetry-pylint, poetry-check, inject-chromadb-version

pytest-check:
  name: Pytest checks
  entry: poetry run pytest
  language: python
  pass_filenames: false

poetry-pylint:
  name: Pylint checks
  entry: poetry run pylint
  pass_filenames: true
  language: system

poetry-check:
  name: Poetry check
  description: run poetry check to validate config
  entry: poetry check
  language: python
  pass_filenames: false

inject-chromadb-version:
  name: inject chromadb version into compose.yaml
  entry: make compose.yaml
  language: python
  pass_filenames: false

add a freshness badge
  README.md
Due: none

updated deps
  lib.py
  poetry.lock
  pyproject.toml
  transform_md.py
Due: pytest-check, poetry-pylint, poetry-check, inject-chromadb-version

README: specify the main branch for osstrack URL
  README.md
Due: none

transform_md.py: fix the split of history in md files
  integration-test.sh
  monitor.sh
  transform_md.py
Due: pytest-check, poetry-pylint

transform_md.py: handle local files
  transform_md.py
Due: pytest-check, poetry-pylint

transform_md.py: add the domain metadata
  transform_md.py
Due: pytest-check, poetry-pylint

get the right sources instead of the chunks
  extractors.py
  lib.py
Due: pytest-check, poetry-pylint

fix activity report
  lib.py
Due: pytest-check, poetry-pylint

use domain instead of referer to find linked documents
  lib.py
Due: pytest-check, poetry-pylint

transform_md.py: fix notes versus history management
  .github/workflows/pr.yml
  integration-test.sh
  monitor.sh
  transform_md.py
Due: pytest-check, poetry-pylint

document SBA_ORG_DOC
  README.md
  example.env
  lib.py
  transform_md.py
Due: pytest-check, poetry-pylint

add an MCP server
  Makefile
  README.md
  mcp_server.py
  poetry.lock
  pyproject.toml
  test_mcp_server.py
Due: pytest-check, poetry-pylint, poetry-check, inject-chromadb-version

update dependencies
  compose.yaml
  integration-test.sh
  lib.py
  poetry.lock
  pyproject.toml
  sba-txt-service.sh
  similarity.py
  test_mcp_server.py
  transform_md.py
  transform_txt.py
Due: pytest-check, poetry-pylint, poetry-check, inject-chromadb-version

lib.py: fix checksum computation
  lib.py
  transform_md.py
Due: pytest-check, poetry-pylint

fix MCP server startup
  README.md
  mcp-server.sh
  mcp_server.py
  poetry.lock
  pyproject.toml
Due: pytest-check, poetry-pylint, poetry-check, inject-chromadb-version

mcp_server.py: improved descriptions of parameters and tests
  .pre-commit-config.yaml
  lib.py
  mcp_server.py
  test_mcp_server.py
Due: pytest-check, poetry-pylint

mcp_server.py: add get_domains
  .pre-commit-config.yaml
  README.md
  mcp_server.py
  test_mcp_server.py
  transform_md.py
Due: pytest-check, poetry-pylint

mark integration tests to be called only by integration-test.sh
  .pre-commit-config.yaml
  README.md
  integration-test.sh
  pyproject.toml
  test_lib.py
  test_mcp_server.py
Due: pytest-check, poetry-check

Add MseeP.ai badge to README.md
  README.md
Due: none

improve descriptions of tools
  .pre-commit-config.yaml
  mcp_server.py
  test_mcp_server.py
Due: pytest-check, poetry-pylint

fix youtube transcripts and created_at fields
  transform_md.py
  transform_txt.py
Due: pytest-check, poetry-pylint

move to MCP only
  README.md
  extractors.py
  integration-test.sh
  lib.py
  poetry.lock
  pyproject.toml
  qa.py
  second_brain_agent.py
Due: pytest-check, poetry-pylint, poetry-check, inject-chromadb-version

switch to uv
  .github/workflows/pr.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  compose.yaml
  integration-test.sh
  mcp-server.sh
  monitor.sh
  poetry.lock
  poetry.toml
  pyproject.toml
  transform_txt.py
  uv.lock
Due: pytest-check, poetry-pylint, poetry-check, inject-chromadb-version

fix local pdf discovery
  README.md
  transform_md.py
Due: pytest-check, poetry-pylint

quick fixes
  .gitignore
  Makefile
  README.md
  compose.yaml
  lib.py
  mcp_server.py
  pyproject.toml
  run-server.sh
  sba-txt-service.sh
  test_mcp_server.py
  transform_md.py
  transform_txt.py
Due: pytest-check, poetry-pylint, poetry-check

fix domain management
  mcp_server.py
  test_mcp_server.py
  transform_md.py
Due: pytest-check, poetry-pylint

fix order_by to return an error
  mcp_server.py
  test_mcp_server.py
  transform_txt.py
Due: pytest-check, poetry-pylint

use only chromadb from ../chroma without building it
  README.md
  chromadb/__init__.py
  lib.py
  pyproject.toml
  uv.lock
Due: pytest-check, poetry-pylint, poetry-check

be sure the mount is done at the location in the contaner
  README.md
  compose.yaml
  transform_txt.py
Due: pytest-check, poetry-pylint

Path conditions:
  pytest-check: any of: .*\.py$
  poetry-pylint: any of: .*\.py$, but not: htmlTemplates\.py|test.*\.py|extractors.py
  poetry-check: any of: ^(.*/)?pyproject.toml$
  inject-chromadb-version: any of: ^poetry.lock$
